@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgba(89, 237, 252, 1);
    background-image: linear-gradient(172deg, rgba(89, 237, 252, 1) 0%, rgba(123, 114, 255, 1) 100%);
}

div.calculator {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 550px;
    height: 750px;
    padding: 20px 10px;
    border: 4px solid rgb(95, 95, 95);
    border-radius: 2%;
    background-color: #ffffff80;

}

div.calculator div {
    height: 120px;
    width: 24%;
    background-color: rgba(209, 209, 209, 0.795);
    border: 3px solid rgb(95, 95, 95);
    border-radius: 5%;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Schibsted Grotesk', sans-serif;
    text-align: center;
    line-height: 120px;
    transition: 0.2s;
}

div.calculator div:nth-of-type(2)~div:hover {
    background-color: rgba(123, 114, 255, 0.7);
    color: white;
}

div.calculator div:nth-of-type(1) {
    width: 75%;
    background-color: rgb(205, 205, 255);
    padding: 0 20px;
    border-radius: 2%;
    cursor: auto;
    text-align: right;
    overflow: hidden;
}

div.calculator div:nth-of-type(2) {
    background-color: rgb(250, 170, 170);
    width: 22%;

}

div.calculator div:nth-of-type(2):hover {
    background-color: rgb(252, 120, 120);
    color: white;
}